/* Base styles */

:root {
    --link-color: var(--color-blue);
}

a:hover {
    text-decoration: underline;
}


/* Layout rules */

.page-header {
    background-color: var(--color-navy);
    padding: 1rem 0;
}

.page-header a {
    color: var(--color-white);
}

.page-footer {
    border-top: 1px solid var(--color-gray);
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
}

.page-container {
    margin: 1rem 1rem;
    max-width: 50rem;
}

@media (min-width: 52rem) {
    .page-container {
        margin: 1rem auto;
    }
}


/* Modules rules */

.article {
    margin-bottom: 2rem;
}


/* State rules */

.is-hidden {
    display: none;
}


/* Theme rules */
