/* Base styles */

:root {
    --link-color: var(--color-blue);
    --headings-font-size-h1: 2.5rem;
    --headings-font-size-h2: 1.75rem;
    --headings-font-size-h3: 1.5rem;
    --headings-font-size-h4: 1.25rem;
    --headings-font-size-h5: 1rem;
    --headings-font-size-h6: 1rem;
}

a:hover {
    text-decoration: underline;
}


/* Layout rules */

.page-header {
    background-color: var(--color-navy);
    color: var(--color-white);
    padding: 1rem 0;
}

.page-header a {
    color: var(--color-white);
}

.page-header__title {
    margin-bottom: 0;
    font-weight: bold;
}

.page-header__subtitle {
    font-size: var(--font-size-big);
}

.page-header__left {
    flex: 1;
}

.page-header__right {
    flex: 0;
}

.page-footer {
    border-top: 1px solid var(--color-gray);
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center;
}

.page-container {
    margin: 1rem 1rem;
    max-width: 50rem;
}

@media (min-width: 52rem) {
    .page-container {
        margin: 1rem auto;
    }
}

.welcome__left {
    flex: 0 1 auto;
    min-width: 100px;
    margin-right: 20px;
}

.welcome__right {
    flex: 0 1 auto;
}



/* Modules rules */

.article {
    margin-bottom: 2rem;
}

.article__content h1::before,
.article__content h2::before,
.article__content h3::before,
.article__content h4::before,
.article__content h5::before,
.article__content h6::before {
    color: var(--color-gray);
}

.article__content h2::before {
    content: "## ";
}

.article__content h3::before {
    content: "### ";
}

.article__content h4::before {
    content: "#### ";
}

.article__content h5::before {
    content: "##### ";
}

.article__content h6::before {
    content: "###### ";
}

.article-list {
    margin-bottom: 2rem;
}

.circle {
    border-radius: 50%;
}

.flex-container {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.vertical-menu {
    list-style-type: none;
}


/* State rules */

.is-hidden {
    display: none;
}


/* Theme rules */
