{{ define "main" }}
<!-- - -*- engine:go -*- -->
<main>
	<article class="article h-entry">
		<h1 class="p-name">{{ .Title }}</h1>
		<time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date.Format "2 Jan 2006" }}</time>
		<div class="e-content">
			{{ .Content }}
		</div>
		<div>
			<ul id="tags">
				{{ range .Params.tags }}
					<li><a class="p-category" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
				{{ end }}
			</ul>
		</div>
	</article>
</main>
{{ partial "sidebar.html" . }}
{{ end }}
