<!-- - -*- engine:go -*- -->
<article class="h-entry">
	<h2 class="p-name"><a class="u-url u-uid" href="{{ .Permalink }}">{{ .Title }}</a></h2>
	<time class="dt-published" datetime="{{ .Date.Format "2006-01-02T15:04" }}">{{ .Date.Format "2 Jan 2006" }}</time>
	{{ range .Params.tags }}
	<a class="p-category" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
	{{ end }}
	<div class="p-summary">
		{{ .Summary }}
		{{ if .Truncated }}
		<a href="{{ .Permalink }}">Read more...</a>
		{{ end }}
	</div>
</article>
