{{ define "main" }}
<!-- - -*- engine:go -*- -->
<main>
	<section id="welcome" class="welcome">
		<h1>Welcome!</h1>
		<div class="flex-container">
			<div class="welcome__left">
				<img src="/img/me.jpg" alt="My face" class="u-photo circle" style="width: 100px; height: 100px;">
			</div>

			<div class="welcome__right">
				<p>
					Hi - I'm Clinton, and I'm the CTO of
					<a href="http://momentumlearn.com/">Momentum Learning</a>
					in Durham, NC. I've previously worked with the 
					<a href="http://www.consumerfinance.gov/">Consumer Financial Protection Bureau</a>,
					<a href="https://www.theironyard.com/">The Iron Yard</a>,
					and <a href="http://www.rti.org/">RTI International</a>, among others.
					My big passions are my kids and making the world of programming a
					more welcoming and diverse place.
				</p>				
			</div>
		</div>
	</section>
	<section id="articles">
    <h2>Recent articles</h2>
    {{ $paginator := .Paginate (where .Data.Pages "Type" "in" .Site.Params.mainSections) }}
		{{ range sort $paginator.Pages }}
		{{ .Render "summary" }}
		{{ end }}
		{{ partial "pagination.html" . }}
	</section>
</main>
{{ end }}
